# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
*/venv/
.env/

# OS-specific files
.DS_Store

# Model files (if needed later)
*.h5
*.pkl
*.onnx
